<app-header></app-header>
<div class="container m-5">
  <app-body></app-body>
</div>


<!--<ul><!--En este caso llamamos las variable que están en nuestro archivo ts con {{ nombreVariable }}-->
  <!--Las llaves {{}} son conocidas como interpolación y dentro de estas llaves, podemos colocar cualquier códifo de 
  JavaScript, ya sean funciones, sumas o restas, cualquier cosa. y lo va a procesar Angular y cuando se recargue nuestro 
nacegador web o corra nuestra aplicación va a aparecer renderizado el valor ahí-->
  <!--<li>Nombre: {{ nombre }}</li>
  <li>Apellido: {{ apellido }}</li>
</ul>-->

<app-footer></app-footer>